@using static ToNotGiveAFuck.Models.TODOs.Enumerations
@model ToNotGiveAFuck.Models.TODOs.TODO

@{
    var red = ((int)((Model.Priority - 1.0M) / 9.0M * 255.0M)).ToString("X");
    red = red.Length == 1 ? "0" + red : red;
    var green = ((int)((10.0M - Model.Priority) / 9.0M * 255.0M)).ToString("X");
    green = green.Length == 1 ? "0" + green : green;
    var blue = "00";

    var color = "#" + red + green + blue;
}


<div id="todo-@Model.TodoId" class="col-md-3" style="background-color:@color;">
    <p>
        <div class="col-md-8 dropdown">
            <b><a href="#" data-toggle="dropdown" class="dropdown-toggle">@Model.Name</a></b>
            <ul class="dropdown-menu" id="menu1">
                <li>
                    <a href="#">Zmie? status<i class="icon-arrow-right"></i></a>
                    <ul class="dropdown-menu sub-menu">
                        <li><a asp-controller="TODOes" asp-action="ChangeStatus" asp-route-todoId="@Model.TodoId" asp-route-status="@Statuses.Started">Rozpocz?te</a></li>
                        <li><a asp-controller="TODOes" asp-action="ChangeStatus" asp-route-todoId="@Model.TodoId" asp-route-status="@Statuses.Finished">Zako?czone</a></li>
                        @*<li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="nav-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>*@
                    </ul>
                </li>
                <li><a asp-controller="TODOes" asp-action="Details" asp-route-id="@Model.TodoId">Manage</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
        <div class="col-md-4"><i>@Model.Priority / 10</i></div>

    </p>


    <p>
        <div class="col-md-6">@Model.Status</div>
    </p>
    <p>
        <div class="col-md-6"></div>
        <div class="col-md-6">@Model.Type</div>
    </p>
    <p>
        <div class="col-md-12"><a asp-controller="Categories" asp-action="Details" asp-route-id="@Model.CategoryId">@Model.Category.Name</a></div>
    </p>
</div>